<mat-toolbar color="primary">
    <mat-toolbar-row>
        <button type="button" class="btn btn-secondary"><a routerLink="/restrito/lista">Listar Produtos    </a></button>
        <span></span>
        <button type="button" class="btn btn-secondary"><a routerLink="/restrito/cadastro">Cadastrar Produto</a></button>
        <span class="example-spacer"></span>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button
    with share icon" (click)="logout()">
            <span class="material-icons">logout</span>
        </button>
    </mat-toolbar-row>
</mat-toolbar>